*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    background: #02050e;
    overflow-x: hidden;
}

