.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-white {
    color: var(--white);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.content-center {
    justify-content: center;
}

