.button {
    transition: all 0.5s;
    border: 1px solid transparent;

    &--solid-white {
        background-color: var(--white);
        color: var(--primary-color);
    }

    &--solid-blue {
        color: var(--white);
        background-color: var(--primary-color);
    }

    &--outline-blue {
        color: var(--white);
        border: 1px solid var(--primary-color);
    }

    &--transparent {
        background-color: transparent;
        color: var(--gray-500);
    }

    &--padding-large {
        padding: 1.6rem 2.4rem;
        width: 100%;
    }

    &--padding-small {
        padding: 0.8rem;
        width: 100%;
    }

    &--radius-large {
        border-radius: 1.6rem;
    }

    &--radius-small {
        border-radius: 0.8rem;
    }

    &--view-more {
        padding: 1.2rem;
        width: 100%;
        max-width: 12rem;
        font-size: 1.2rem;
        border-radius: 0.8rem;

        @media screen and (min-width: 768px) {
            max-width: 17.5rem;
            font-size: 1.4rem;
            padding: 1.4rem;
        }
    }
}

