.button {
    border-radius: 1.6rem;

    &--solid-white {
        background-color: var(--white);
        color: var(--primary-color);
    }

    &--solid-blue {
        color: var(--white);
        background-color: var(--primary-color);
    }

    &--outline-blue {
        color: var(--white);
        border: 1px solid var(--primary-color);
    }

    &--padding-large {
        padding: 1.6rem;
        width: 100%;
    }

    &--padding-small {
        padding: 0.8rem;
        width: 100%;
    }

    &--view-more {
        padding: 0.8rem;
        width: 100%;
        max-width: 10rem;
        font-size: 1.2rem;

        @media screen and (min-width: 768px) {
            max-width: 17.5rem;
            padding: 1.2rem;
        }
    }
}

