:root {
    --primary-color: #1E50FF;
    --secondary-color: #FFB830;
    --black-color: #0F182E;

    --white: #ffffff;

    --gray-100: #EEF2F6;
    --gray-200: #E7ECF2;
    --gray-300: #D5DDE5;
    --gray-400: #B8C1CC;
    --gray-500: #ADB9C7;
    --gray-600: #8F9CA9;
    --gray-700: #66737F;
    --gray-800: #36414C;
    --gray-900: #272D37;
}